@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container {
  animation: fadeInAnimation ease .32s;
	animation-iteration-count: 1;
  animation-fill-mode: forwards;
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	color: rgb(214, 214, 214);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

